@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */

nav {
    height: 80px;
    background-color:rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo-circle {
    background-color: #3F3D56;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 9.5%;
    top: 10px;
}

nav h1 {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 10%;
    color:white;
}

nav ul {
    float: right;
    margin-right: 100px;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    padding: 5px 0;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

label #sign-one, label #sign-two {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#res-menu {
    display: none;
}

/*
nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8)
}

.circle-logo {
    background-color: #3F3D56;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}

.circle-logo a {
    position: absolute;
    top: 15px;
    left: 8px;
}

.circle-logo h2{
    font-size: 22px;
    color:white;
}

nav ul {
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-between;
}

nav ul li {
    font-size: 13px;
}

nav ul li:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}
*/

/* Home */

.main-wrapper {
    padding: 120px 20px 80px 20px;
    min-height: 100%;
    text-align: center;
    display: block;
}

.main-image {
    margin-top: 30px;
    width: 70%;
}

.main {
    display: inline-block;
}

/* Content */

.content-wrapper {
    text-align: center;
    padding-top: 100px;
    background-color: #E5E5E5;
    min-height: 100%;
    display: block;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-bottom: 100px;
}

.article {
    width: 35%;
    background-color: #3F3D56;
    margin-bottom: 40px;
    border-radius: 30px;
    color: white;
    display: flex;
    padding: 50px 20px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3), 8px 2px 20px rgba(0, 0, 0, 0.2);
}

.article:hover {
    transform: scale(1.05);
    
    transition: all 0.5s;
    background-color: #FF3B62;
}

.article-logo {
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.article-text {
    text-align: left;
}

.article-text p {
    font-size: 10px;
    opacity: 0.7;
}

/* Our Member */

.about-wrapper {
    text-align: center;
    padding-top: 100px;
    min-height: 100%;
    display: block;
    padding-bottom: 100px;
}

.heading {
    margin-bottom: 50px;
    font-size: 40px;
}

.profile {
    display: inline-block;
    background-color: #3F3D56;
    color: white;
    border-radius: 35px;
    width: 190px;
    height: 280px;
    margin-right: 30px;
    margin-bottom: 50px;
    position: relative;
    top: 20px;
    animation: mymove 3s infinite;
    
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3), 8px 2px 20px rgba(0, 0, 0, 0.2);
}

.profile:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    animation-play-state: paused;
}

.profile img {
    width: 120px;
    position: absolute;
    top: 30px;
    left: 33px;
}
/*
.circle {
    height: 90px;
    width: 110px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
    position: absolute;
    top: 50px;
    left: 41px;
}
*/
.profile h4 {
    margin-top: 160px;
}

.profile p {
    font-size: 10px;
    margin-top: 3px;
    opacity: 0.7;
}

.instagram img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 220px;
    left: 60px;
}

.github img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 220px;
    left: 100px;
}

#member1 {animation-timing-function: linear;}
#member2 {animation-timing-function: ease;}
#member3 {animation-timing-function: ease-in;}
#member4 {animation-timing-function: ease-out;}
#member5 {animation-timing-function: ease-in-out;}
  
@keyframes mymove {
    from {top: 60px;}
    to {top: -10px;}
}

footer {
    background-color: #E5E5E5;
    text-align: center;
    height: 40px;
    width: 100%;
}

footer h6 {
    font-weight: 400;
    padding: 10px;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 15px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
/*
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}
*/

/* Respnsive Breakpoint */
@media (max-width:1000px) {
    .article {
        width: 40%;
    }
    
    .main-image {
        width: 100%;
    }
}

@media (max-width:670px) {
    label #sign-one {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 10;
    }

    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    nav ul li:hover {
        transform: scale(1.05);
        transition: all 0.5s;
    }

    nav ul li a {
        font-size: 20px;
    }

    #res-menu:checked ~ ul {
        left: 0;
    }
    
    #res-menu:checked ~ label #sign-one{
        display: none;
    }

    #res-menu:checked ~ label #sign-two{
        display: block;
    }

    .main-image {
        width: 100%;
    }

    .article {
        width: 80%;
    }
}

